[submodule "lvgl_v9.2/lv_port_linux"]
	path = lvgl_v9.2/lv_port_linux
	url = https://github.com/zifengqi123/lv_port_linux.git
[submodule "future_devices"]
	path = future_devices
	url = https://github.com/zifengqi123/future_devices.git
